@font-face {
	font-family: 'inter';
	src: url('../assets/Inter/Inter-Thin.woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'inter';
	src: url('../assets/Inter/Inter-Regular.woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'inter';
	src: url('../assets/Inter/Inter-Bold.woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'inter';
	src: url('../assets/Inter/Inter-ExtraBoldItalic.woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'inter';
	src: url('../assets/Inter/Inter-MediumItalic.woff2');
	font-weight: 400;
	font-style: italic;
}